<div class="container">
	<div class="row">
		</a><h1>Be water...</h1>
		<h5><%=link_to("Martial Art Schools",gims_path)%><h5>
		<h5><%=link_to("Zones to practise",zones_path)%><h5>
		<h5><%=link_to("Martial Arts",martial_arts_path)%><h5>
	</div>
</div>






