<div class="container">
	<div class="row">
		  <% @gims.each do |gim| %> 
			<table class="table">
		 				<tr>
							<div class="col-sm-3 paragraph" >
						    	<td><h3><%= gim.name %></h3></td>
				            </div>
				            <div class="col-sm-3 paragraph" >
							    <td><p><%= gim.description %></p></td> 
							</div>
							<div class="col-sm-3 paragraph" >
							    <td><%=button_to "Click to see more info", gim_path(gim.id), method: 'get'%></td>
							</div>


							<div class="col-sm-3 paragraph" >
							    <td><%=link_to "Zones to practise", zone_path(gim.zones.first.id)%></td>
							</div>
						</tr>
		  		<% end %> 
			</table>	   
		        
	</div>
	
</div>		  
 


