/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.background-image{
	 background: url(../photos/background-jkd.jpg) no-repeat center center fixed; 
	 height: 100%;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
	




.col-lg-6{
	
	padding-bottom: 30px;
}

.container-footer{
	height: 100%;
	align-items: flex-end;
}


body {
	height: 100%;
	margin: 0 0 20px;
}


html {
	height: 100%;
}

.footer-styling {
	background-color: red;
	 position: fixed;
	 margin-bottom: auto;
	 bottom:0;
	 width:100%;
	 height:20px;   /* Height of the footer */
}



.martial{
	width: 50%;
    float: initial;
    height: 50%;

}

.dojo{
	width: 50%;
    float: initial;
    height: 50%;
}

.zone{
	width: 30%;
    float: initial;
    height: 50%;

}
.background-button{
    margin-top: 50px;	 
}