
<div class='container'>
	
	<ul> 
	  <% @martial_arts.each do |art| %> 
	    <h3><%= art.name %></h3>      <%=link_to "See the schools and the zones", martial_art_path(art.id)%> 
	    <li><%= art.description %></li> 
	    
	  <% end %> 
	</ul> 
</div>